$black-shadow: #000 !default;

.align-items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.sticky-bottom {
    @include breakpoint(medium) {
        bottom: 0;
        position: sticky;
    }
}

.hover-shadow {
    &:hover {
        box-shadow: 0 0 rem-calc(5px) 1px $black-shadow;
        position: relative;
        z-index: 999;
    }
}

.arrow {
    border: $black-shadow solid;
    border-width: 0 rem-calc(2px) rem-calc(2px) 0;
    display: inline-block;
    padding: 3px;
    margin: 2px;
    vertical-align: middle;

    &.up {
        transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
    }
}
