$black-shadow: #000 !default;
$light-black-shadow: rgba(0, 0, 0, .1) !default;

.align-items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.sticky-bottom {
    @include breakpoint(medium) {
        bottom: 0;
        position: sticky;
    }
}

.shadow {
    box-shadow: 0 0 rem-calc(10px) 1px $black-shadow;
    position: relative;
    z-index: 900;

    &-light {
        box-shadow: 0 0 rem-calc(10px) 1px $light-black-shadow;
        position: relative;
        z-index: 900;
    }

    &-hover {
        &:hover {
            box-shadow: 0 0 rem-calc(5px) 1px $black-shadow;
            position: relative;
            z-index: 999;
        }
    }
}

.arrow {
    border: $black-shadow solid;
    border-width: 0 rem-calc(2px) rem-calc(2px) 0;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    vertical-align: middle;

    &.up {
        transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
    }
}

.max-height-by-available-space {
    overflow: hidden;
    overflow-y: auto;
}

.icon-scale {
    background-size: 300% 200% !important;  // rows * 100% ; columns * 100%
    height: 80%;
    margin: auto;
    width: 80%;
}

.group-name {
    color: map-get($map: $event-palette, $key: active);
    padding-left: 1rem;

    &.new {
        color: map-get($map: $event-palette, $key: primary);
    }
}

.read-all {
    height: 20px;
    width: 20px;
}

.auto-important {
    width: auto !important;
    @each $name in $breakpoint-classes {
        &-#{$name} {
            @include breakpoint($name) {
                width: auto !important;
            }
        }
    }
}

.color-gray {
    color: #919191;
}

.color-dark-gray {
    color: #404040;
}

.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @each $name in $breakpoint-classes {
        &-#{$name} {
            @include breakpoint($name) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }
        }
    }
}

.text-limit-disable {
    overflow: unset;
    text-overflow: unset;
    white-space: normal;

    @each $name in $breakpoint-classes {
        &-#{$name} {
            @include breakpoint($name) {
                overflow: unset;
                text-overflow: unset;
                white-space: normal;
            }
        }
    }
}

.width-90 {
    width: 90%;
    @each $name in $breakpoint-classes {
        &-#{$name} {
            @include breakpoint($name) {
                width: 90%;
            }
        }
    }
}

.width-75 {
    width: 75%;
    @each $name in $breakpoint-classes {
        &-#{$name} {
            @include breakpoint($name) {
                width: 75%;
            }
        }
    }
}

.padding-first-top {
    &> :first-child {
        padding-top: 14px;

        @include breakpoint(medium) {
            padding-top: 20px;
        }
        @include breakpoint(large) {
            padding-top: 32px;
        }
    }
}

.padding-last-bottom {
    &> :last-child {
        padding-bottom: 24px;
    }
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

.padding-top-24 {
    padding-top: 24px;
}

.padding-top-18 {
    padding-top: 18px;
}

.padding-left-16 {
    padding-left: 16px;
}

.padding-right-16 {
    padding-right: 16px;
}

.padding-left-26-medium {
    @include breakpoint(medium) {
        padding-left: 26px;
    }
}

.margin-0 {
    margin: 0;
}
