$black-shadow: #000 !default;

.align-items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.sticky-bottom {
    @include breakpoint(medium) {
        bottom: 0;
        position: sticky;
    }
}

.hover-shadow {
    &:hover {
        box-shadow: 0 0 rem-calc(5px) 1px $black-shadow;
        position: relative;
        z-index: 999;
    }
}

.arrow {
    border: $black-shadow solid;
    border-width: 0 rem-calc(2px) rem-calc(2px) 0;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    vertical-align: middle;

    &.up {
        transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
    }
}

.icon-scale {
    background-size: 300% 200% !important;  // rows * 100% ; columns * 100%
    height: 80%;
    margin: auto;
    width: 80%;
}

.group-name {
    color: map-get($map: $event-palette, $key: inactive);
    font-size: rem-calc(15px);
    margin: inherit;
    padding-left: 1rem;

    &.new {
        color: map-get($map: $event-palette, $key: primary);
    }
}

.read-all {
    height: 20px;
    width: 20px;
}

.circle {
    display: inline-flex;
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: auto;
    align-self: center;
}

.auto-important {
    width: auto !important;
    @each $name in $breakpoint-classes {
        &-#{$name} {
            @include breakpoint($name) {
                width: auto !important;
            }
        }
    }
}