
@import 'event_settings';

%new-colors {
    background-color: map-get($map: $event-palette, $key: background);
}

.footer {
    text-align: center;
}

.content {
    white-space: nowrap;
}

.icon {
    background-color: map-get($map: $event-icon-palette, $key: inactive);
    border: 2px solid map-get($map: $event-icon-palette, $key: inactive);
    border-radius: 16px;
    display: inline-flex;
    height: 32px;
    margin: rem-calc(16px);
    width: 32px;

    &.small {
        border-radius: 10px;
        height: 20px;
        margin: rem-calc(9px);
        width: 20px;
    }

    &.new {
        background-color: map-get($map: $event-icon-palette, $key: default);
        border-color: map-get($map: $event-icon-palette, $key: default);
        @each $name, $color in $event-icon-palette {
            @if $name != default or $name != inactive {
                &.#{$name} {
                    background-color: #{$color};
                    border-color: #{$color};
                }
            }
        }
    }

    &.group {
        background-color: transparent;
        color: map-get($map: $event-icon-palette, $key: inactive);

        .icon-group-number {
            font-size: rem-calc(16px);
            font-weight: bold;
            margin: auto;
        }
    }
}

.new {
    @extend %new-colors;
}

.event-component {
    overflow-y: auto;

    @include breakpoint(medium) {
        margin: 0 rem-calc(74px) rem-calc(60px) rem-calc(80px);
    }

    @include breakpoint(large) {
        margin: rem-calc(27px) rem-calc(32px) rem-calc(48px) rem-calc(90px);
    }
}

.navigation-panel {
    background-color: map-get($map: $event-palette, $key: background);
    display: flex;
    padding: rem-calc(22px) 0 rem-calc(42px);

    .navigation-button {
        @extend %new-colors;
        border: 2px solid map-get($map: $event-palette, $key: primary);
        color: map-get($map: $event-palette, $key: primary);
        margin: 0;
        width: 100%;
        @include breakpoint(medium) {
            margin: auto;
            width: auto;
        }
    }
}

.event-container {
    box-shadow: 0 0 rem-calc(1px) 0 $black-shadow;
    padding: rem-calc(16px);

    &.new {
        @extend %new-colors;
    }

    .event-message {
        color: map-get($map: $event-palette, $key: inactive);

        &.new {
            color: map-get($map: $event-palette, $key: active);
        }

        &.group {
            display: block;

            .event-message {
                padding-left: rem-calc(60px);
            }
        }

        .info-box {
            display: inline-block;
            padding: rem-calc(16px);
            padding-left: 0;

            &.small {
                padding: rem-calc(9px);
                padding-left: 0;
            }

            .message {
                border: 1px;
                margin: inherit;
                max-width: rem-calc(400px);
                overflow: hidden;
                text-overflow: ellipsis;
                width: auto;

                @include breakpoint(medium) {
                    max-width: rem-calc(450px);
                }

                @include breakpoint(large) {
                    max-width: rem-calc(750px);
                }
            }

            .subject {
                font-weight: bold;
            }
        }
    }
}
