
@import 'event_settings';

%new-colors {
    background-color: map-get($map: $event-palette, $key: background);
}

.footer {
    text-align: center;
}

.content {
    white-space: nowrap;
}

.icon {
    background-color: map-get($map: $event-icon-palette, $key: inactive);
    border: 2px solid map-get($map: $event-icon-palette, $key: inactive);
    border-radius: 16px;
    display: inline-block;
    height: 32px;
    margin: rem-calc(16px);
    vertical-align: top;
    width: 32px;

    &.small {
        border-radius: 10px;
        height: 20px;
        width: 20px;
        margin: rem-calc(9px);
    }

    &.new {
        background-color: map-get($map: $event-icon-palette, $key: default);
        border-color: map-get($map: $event-icon-palette, $key: default);
        @each $name, $color in $event-icon-palette {
            @if $name != default or $name != inactive {
                &.#{$name} {
                    background-color: #{$color};
                    border-color: #{$color};
                }
            }
        }
    }

    @each $name, $url in $event-icon-types {
        .#{$name} {
            background-image: url($url);
            height: 80%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
            }
        }

    &.group {
        background-color: transparent;
        color: map-get($map: $event-icon-palette, $key: inactive);

        .icon-group-number {
            font-size: rem-calc(16px);
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.new {
    @extend %new-colors;
}

.upsidedown {
    display: inline-block;
    transform: rotateX(180deg);
}

.event-component {
    overflow-y: auto;

    @include breakpoint(medium) {
        margin: 0 rem-calc(74px) rem-calc(60px) rem-calc(80px);
    }

    @include breakpoint(large) {
        margin: rem-calc(27px) rem-calc(32px) rem-calc(48px) rem-calc(90px);
    }
}

.event-container {
    h4 {
        color: map-get($map: $event-palette, $key: inactive);
        margin: inherit;
        padding-left: 1rem;

        &.new {
            @extend %new-colors;
            color: map-get($map: $event-palette, $key: primary);
        }
    }

    .navigation-button {
        @extend %new-colors;
        border: 2px solid map-get($map: $event-palette, $key: primary);
        color: map-get($map: $event-palette, $key: primary);
        margin: 0;
        width: 50%;
        @include breakpoint(medium) {
            width: auto;
        }
    }

    .event-message {
        background-color: $body-background;
        color: map-get($map: $event-palette, $key: inactive);

        &:hover {
            box-shadow: 0 0 10px 1px $black-shadow;
            margin-bottom: 5px;
        }

        &.new {
            @extend %new-colors;
            color: map-get($map: $event-palette, $key: active);
        }

        &.group {
            .event-message {
                padding-left: rem-calc(60px);
            }
        }

        .info-box {
            display: inline-block;
            padding: rem-calc(16px);
            padding-left: 0;

            &.small {
                padding: rem-calc(9px);
                padding-left: 0;
            }

            .message {
                border: 1px;
                margin: inherit;
                max-width: rem-calc(400px);
                overflow: hidden;
                text-overflow: ellipsis;
                width: auto;

                @include breakpoint(medium) {
                    max-width: rem-calc(450px);
                }

                @include breakpoint(large) {
                    max-width: rem-calc(750px);
                }
            }

            .subject {
                font-weight: bold;
            }
        }
    }
}
