$event-icon-palette: (
    message: #2274d5,
    inactive: #919191,
    default: #57a01f
    ) !default;
$event-palette: (
    primary: #57a01f,
    active: #404040,
    inactive: #919191,
    notification: #d10910,
    background: #fff,
    background-inactive: #f8f8f8
) !default;

$black-shadow: rgba(0, 0, 0, .5) !default;

$event-fonts: (
    small: (
        'h1': (
            small: (
                font-size: 15
            ),
            medium: (
                font-size: 23
            )
        ),
        'h2': (
            small: (
                font-size: 12
            )
        ),
        'text': (
            small: (
                font-size: 16,
                line-height: 1
            )
        )
    ),
    medium: (
        'h1': (
            small: (
                font-size: 48
            ),
            medium: (
                font-size: 56
            )
        )
    )
)
