
@import 'event_settings';

.footer {
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: inherit;
    white-space: nowrap;
    @include breakpoint(medium) {
        width: 80%;
    }
}

.icon {
    background-color: map-get($map: $event-icon-palette, $key: inactive);
    border: 2px solid map-get($map: $event-icon-palette, $key: inactive);
    border-radius: 16px;
    display: inline-block;
    height: 32px;
    vertical-align: top;
    width: 32px;

    &.small {
        border-radius: 10px;
        height: 20px;
        width: 20px;
    }

    &.new {
        background-color: map-get($map: $event-icon-palette, $key: default);
        border-color: map-get($map: $event-icon-palette, $key: default);
        @each $name, $color in $event-icon-palette {
            @if $name != default or $name != inactive {
                &.#{$name} {
                    background-color: #{$color};
                    border-color: #{$color};
                }
            }
        }
    }

    @each $name, $url in $event-icon-types {
        .#{$name} {
            background-image: url($url);
            height: 80%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
            }
        }

    &.group {
        background-color: transparent;
        color: map-get($map: $event-icon-palette, $key: inactive);

        &.new {
            border-color: map-get($map: $event-icon-palette, $key: inactive);
        }

        .icon-group-number {
            font-size: rem-calc(16px);
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.event-container {
    h4 {
        color: map-get($map: $event-palette, $key: inactive);
        margin: inherit;
        padding-left: 1rem;

        &.new {
            background-color: map-get($map: $event-palette, $key: background);
            color: map-get($map: $event-palette, $key: primary);
        }
    }

    .navigation-button {
        background-color: map-get($map: $event-palette, $key: background);
        border: 2px solid map-get($map: $event-palette, $key: primary);
        color: map-get($map: $event-palette, $key: primary);
        margin: 0;
        width: 50%;
        @include breakpoint(medium) {
            width: auto;
        }
    }

    .event-message {
        background-color: $body-background;
        color: map-get($map: $event-palette, $key: inactive);
        padding: 1rem;

        &:hover {
            box-shadow: 0 0 10px 1px $black-shadow;
            margin-bottom: 5px;
        }

        &.new {
            background-color: map-get($map: $event-palette, $key: background);
            color: map-get($map: $event-palette, $key: active);
        }

        &.group {
            .event-message {
                padding-left: rem-calc(60px);
            }
        }

        .info {
            display: inline-block;
            padding-left: .5rem;

            .message {
                border: 1px;
                margin: inherit;
                max-width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: auto;

                @include breakpoint(medium) {
                    max-width: 450px;
                }

                @include breakpoint(large) {
                    max-width: 750px;
                }
            }

            .subject {
                font-weight: bold;
            }
        }
    }
}
