{% extends "../layouts/default.twig" %}

{% block page %}
<div class="content" id="EventContent">
    <event-component v-bind:is-simple="false" v-bind:items-shown="3"></event-component>
</div>
{% endblock %}