{% extends "../layouts/default.twig" %}

{% block page %}
<div class="content" id="eventContent">
    <event-component :is-simple="true" :items-shown="10" :get-messages="getData"></event-component>
</div>
{% endblock %}